#
# $Id: Makefile.osdep.dist,v 1.5 1999-12-11 15:30:58 fjoe Exp $
#

.if exists(${.CURDIR}/../Makefile.inc)
.include "${.CURDIR}/../Makefile.inc"
.endif

#
# for FreeBSD
#CFLAGS += -DBSD44 -DUSE_MMAP
#LIBS += -lcrypt

#
# for Linux
#CFLAGS	+=-DLINUX -DUSE_MMAP
#LIBS	+=-lcrypt -ldl
#SO_LDFLAGS += -rdynamic
#COMPAT_CFILES = ../compat/fnmatch.c
#MAKE = pmake

#
# for SunOS 5 (Solaris)
#CFLAGS	+= -DSUNOS
#LIBS += -lsocket -lnsl
#COMPAT_CFILES = ../compat/strsep.c ../compat/snprintf.c

#
# for Unixware 2.x
#CFLAGS += -DSVR4 -DOLD_RAND
#LIBS += -lsocket -lnsl -lcrypt
#COMPAT_CFILES = ../compat/strsep.c

