#
# $Id: Makefile.osdep.dist,v 1.9 2000-10-07 10:57:58 fjoe Exp $
#

#
# owner/group for sog binaries
BINOWN!=	id -un
#BINGRP=		sog
BINGRP!=	id -gn

#
# for FreeBSD
#CFLAGS+=	-DBSD44
#LDADD+=		-lcrypt

#
# for Linux
#CFLAGS+=	-DLINUX
#LDADD+=	-lcrypt -ldl
#SO_LDFLAGS+=	-rdynamic
#COMPAT_SRCS=	fnmatch.c
#MAKE=		pmake

#
# for SunOS 5 (Solaris)
#CFLAGS+=	-DSUNOS
#LDADD+=	-lsocket -lnsl
#COMPAT_SRCS=	strsep.c snprintf.c
#MAKE=		pmake

#
# for Unixware 2.x
#CFLAGS+=	-DSVR4 -DOLD_RAND
#LDADD+=	-lsocket -lnsl -lcrypt
#COMPAT_SRCS=	strsep.c
#MAKE=		pmake
