#
# $Id: Makefile.inc.dist,v 1.6 1999-07-11 03:58:39 osya Exp $
#

CC		= gcc
LD		= gcc
INCLUDES	= -I ../include

CFLAGS		= -g -Wall -O -pipe $(INCLUDES)
LFLAGS		= -g -export-dynamic
SO_CFLAGS	= -fpic -fPIC
SO_LFLAGS	= -shared
INSTALL_FLAGS	= -c -m 770
LIBS		=
INSTALL_PATH	= ../..
MAKE		= make

#
# for FreeBSD
#CFLAGS	+= -DBSD44
#LIBS	+= -lcrypt

#
# for Linux
CFLAGS	+= -DLINUX 
LIBS	+= -lcrypt -ldl
SO_LFLAGS += -rdynamic
COMPAT_CFILES = ../compat/fnmatch.c
MAKE = pmake

#
# for SunOS 5 (Solaris)
#CFLAGS	+= -DSUNOS
#LIBS	+= -lsocket -lnsl
#COMPAT_CFILES = ../compat/strsep.c ../compat/snprintf.c

#
# for Unixware 2.x
#CFLAGS	+= -DSVR4 -DOLD_RAND
#LIBS	+= -lsocket -lnsl -lcrypt
#COMPAT_CFILES = ../compat/strsep.c

