#
# $Id: Makefile.inc.dist,v 1.1 1999-06-22 12:37:13 fjoe Exp $
#

CC		= gcc
LD		= gcc
INCLUDES	= -I . 

CFLAGS		= -g -Wall -O -pipe $(INCLUDES)
LFLAGS		= -g
LIBS		=
INSTALL_PATH	= ..

#
# for FreeBSD
#CFLAGS	+= -DBSD44
#LIBS	+= -lcrypt

#
# for Linux
#CFLAGS	+= -DLINUX 
#LIBS	+= -lcrypt
#COMPAT_CFILES = compat/fnmatch.c
#COMPAT_OFILES = fnmatch.o

#
# for SunOS 5 (Solaris)
#CFLAGS	+= -DSUNOS
#LIBS	+= -lsocket -lnsl
#COMPAT_CFILES = compat/strsep.c compat/snprintf.c
#COMPAT_OFILES = strsep.o snprintf.o

#
# for Unixware 2.x
#CFLAGS	+= -DSVR4 -DOLD_RAND
#LIBS	+= -lsocket -lnsl -lcrypt
#COMPAT_CFILES = compat/strsep.c
#COMPAT_OFILES = strsep.o

