#
# $Id: Makefile.inc.dist,v 1.4 1999-06-24 20:36:25 fjoe Exp $
#

CC		= gcc
LD		= gcc
INCLUDES	= -I ../include

CFLAGS		= -g -Wall -O -pipe $(INCLUDES)
LFLAGS		= -g -export-dynamic
SO_CFLAGS	= -fpic -fPIC
SO_LFLAGS	= -shared
INSTALL_FLAGS	= -c -m 770
LIBS		=
INSTALL_PATH	= ../..
MAKE		= make

#
# for FreeBSD
#CFLAGS	+= -DBSD44
#LIBS	+= -lcrypt

#
# for Linux
#CFLAGS	+= -DLINUX 
#LIBS	+= -lcrypt -ldl
#SO_LFLAGS += -rdynamic
#COMPAT_CFILES = compat/fnmatch.c
#COMPAT_OFILES = fnmatch.o
#MAKE = pmake

#
# for SunOS 5 (Solaris)
#CFLAGS	+= -DSUNOS
#LIBS	+= -lsocket -lnsl
#COMPAT_CFILES = compat/strsep.c compat/snprintf.c
#COMPAT_OFILES = strsep.o snprintf.o

#
# for Unixware 2.x
#CFLAGS	+= -DSVR4 -DOLD_RAND
#LIBS	+= -lsocket -lnsl -lcrypt
#COMPAT_CFILES = compat/strsep.c
#COMPAT_OFILES = strsep.o

#
# Common targets
#

OFILES != for i in `echo $(CFILES) | sed 's/\.c/.o/g'`; do basename $${i}; done

all: $(MODULE_NAME)

$(MODULE_NAME): $(OFILES)
	$(LD) -o $(MODULE_NAME) $(LFLAGS) $(OFILES) $(LIBS)

depend:
	rm -f .depend
	mkdep $(CFLAGS) $(CFILES)

clean:
	rm -f $(MODULE_NAME) $(OFILES)

